html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
body .row {
  margin: 0px;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
body {
  min-width: 900px;
}
#container {
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}
#banner {
  margin-top: 20px;
  width: 1170px;
}
#banner .small-banner {
  text-align: center;
  width: 1170px;
  height: 130px;
}
#banner #banner1 {
  background-image: url(../images/carousel1.png);
}
#banner #banner2 {
  background-image: url(../images/carousel2.png);
}
#banner #banner3 {
  background-image: url(../images/carousel3.png);
}
#topmenu {
  width: 1170px;
}
#topmenu .search {
  margin-left: 20px;
}
#topmenu .container {
  width: auto;
}
#footer {
  text-align: center;
  margin: 0px;
}
#leftmenu #navigation {
  margin-top: 30px;
}
#leftmenu label.error {
  color: red;
}
#leftmenu #logout {
  margin: 0px;
}
#leftmenu img {
  width: 10%;
  height: 10%;
  vertical-align: middle;
}
#leftmenu #uname,
#leftmenu #password {
  width: 245px;
}
#rightmenu h4 {
  margin-bottom: 10px;
}
#rightmenu #eventblogg .small {
  font-size: 9px;
  margin: 0px;
}
#rightmenu #eventblogg .peppbox {
  padding: 5px;
  min-height: 40px;
  margin: 15px auto;
  border: 1px solid #fff;
  border-radius: 10px;
  /*Fallback for if/when IE supports it*/

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ffffff;
  /*fallback for IE*/

  background: -moz-linear-gradient(top, #f1f1f1, #ffffff 15%);
  background: -webkit-gradient(linear, 0 0, 0 15%, from(#f1f1f1), to(#ffffff));
  box-shadow: 10px 10px 5px #999;
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#rightmenu #addblogg {
  padding: 10px;
}
#rightmenu #addblogg form {
  margin: 0px;
}
#rightmenu p {
  margin: 0px;
}
#content {
  min-height: 400px;
}
#content #create_user_content .box {
  margin-top: 20px;
}
#content .select {
  width: 100px;
}
#content #buttons {
  padding: 20px;
}
#content #buttons .btn {
  padding: 50px;
  margin: 20px;
  width: 100px;
  height: 30px;
  font-size: 20px;
}
#content #addevent h3 {
  width: 300px;
}
#content #addevent h3 .ui-slider {
  width: 20px;
}
#content #addevent h3 .ui-slider .ui-slider-handle {
  width: 20px;
}
#content #addevent #datepicker {
  margin-bottom: 15px;
}
#content #addevent .ui-slider {
  width: 400px;
}
#content #addevent .ui-slider .ui-slider-handle {
  width: 20px;
  cursor: pointer;
}
#content #addevent #output_time {
  position: absolute;
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -o-linear-gradient(top, #444444, #999999);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
  background-image: -webkit-linear-gradient(top, #444444, #999999);
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
#content #addevent #output_time:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
#content .alert {
  margin: 0px;
}
#content .infodevider {
  height: 10px;
  clear: both;
  border-bottom: 1px #dcdcdc solid;
  margin-bottom: 10px;
}
#content .divider {
  height: 5px;
  clear: both;
  margin-bottom: 10px;
}
#content .infopic {
  width: 50px;
  height: 50px;
  float: left;
  margin: 10px;
}
#content .infocontent {
  float: left;
  width: 400px;
  padding-top: 5px;
}
#content .profilepic {
  width: 80px;
  height: 80px;
  float: left;
  margin: 10px;
  margin: 0;
}
#content .event .well {
  margin-top: 40px;
  clear: left;
}
#content .event .infodevider {
  border-bottom: 1px white solid;
}
#content .event h4 {
  margin-bottom: 10px;
}
#content .event .date {
  width: 80px;
  float: left;
  margin-right: 20px;
}
#content .event .date .year {
  text-align: center;
}
#content .event .data {
  width: 470px;
  float: left;
  padding-top: 10px;
}
#content .event .hidden {
  visibility: hidden;
}
#content #weekdata {
  margin-top: 10px;
}
#content #trainpic {
  margin: 0 auto 10px auto;
  width: 100px;
  height: 100px;
}
#content #trainpic img {
  /*
			width: 20%;
			height: 20%; */

}
#content #statspic {
  width: 200px;
  height: 80px;
  margin: 0 auto 10px auto;
}
#content #lastevents .span5 {
  margin: 0px;
}
.pagination {
  text-align: center;
}
#profile h2 {
  margin-bottom: 15px;
}
#profile input {
  width: 300px;
}
/* css for calendar in events */
.event .calendar {
  margin: .25em 20px 10px 0;
  padding-top: 5px;
  float: left;
  width: 80px;
  background: #ededef;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#cccccc));
  background: -moz-linear-gradient(top, #ededef, #cccccc);
  font: bold 30px/60px Arial Black, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  text-shadow: #fff 0 1px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  box-shadow: 0 2px 2px #888;
}
.event .calendar em {
  display: block;
  font: normal bold 11px/30px Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: #00365a 0 -1px 0;
  background: #04599a;
  background: -webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
  background: -moz-linear-gradient(top, #04599a, #00365a);
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #00365a;
}
.event .calendar:before,
.calendar:after {
  content: '';
  float: left;
  position: absolute;
  top: 5px;
  width: 8px;
  height: 8px;
  background: #111;
  z-index: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px #fff;
  -webkit-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff;
}
.event .calendar:before {
  left: 11px;
}
.event .calendar:after {
  right: 11px;
}
.event .calendar em:before,
.calendar em:after {
  content: '';
  float: left;
  position: absolute;
  top: -5px;
  width: 4px;
  height: 14px;
  background: #dadada;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaaaaa));
  background: -moz-linear-gradient(top, #f1f1f1, #aaaaaa);
  z-index: 2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.event .calendar em:before {
  left: 13px;
}
.event .calendar em:after {
  right: 13px;
}
